.wordpress-org/ export-ignore
.gitignore export-ignore
.github export-ignore
README.md export-ignore

# GIT - Release version
/git-tag.sh export-ignore

# Composer
composer.json
composer.lock export ignore