language: php

php:
  - 7.0

script:
  # Run your tests here.
  - echo 'Tested'

before_deploy:
  - mkdir build  
  - cp readme.txt build
  - cp file-renaming-on-upload.php build
  - cp readme.txt build
  - cp -R classes build
  - cp -R languages build
  - cp -R vendor build

deploy:
  - provider: wordpress-plugin
    edge:
      source: TypistTech/dpl
      branch: add-wordpress-plugin-deployment
    on:
      php: 7.0
      tags: true
      repo: pablo-sg-pacheco/file-renaming-on-upload
    slug: file-renaming-on-upload
    username: karzin
    password: $WORDPRESS_ORG_PASSWORD
    build_dir: build
